<!DOCTYPE html>
<%= render 'layouts/styling' %>

<div style="text-align: center;">
<br>
<br>
<br>
<h1>HomeComing Turn UP!!</h1>

<div>

<%= image_tag("pic/profile.jpg", width: '700px')%>

</div>
</html>