<%= render 'layouts/styling' %>

<div style="text-align: center;">

<h1>Welcome <%= @user.username %></h1>



<p> Feel free to add you college or university to share your Homecoming playlist. To begin click the on of the links in the navigation bar. Have fun , and enjoy as we share with each other in the Homecoming spirit!!</p>


  <%= image_tag("pic/grid.jpg", width: '700px')%>
</div>
</body>
</html> 
