<%= render 'layouts/styling' %>
<div style="text-align: center;">


<h1>All Schools</h1>

<br>
<% @schools.each do |sc|%>
 <li>
  <%= link_to sc.name, school_path(sc)%>
  </li>
<% end %>
</div>
