<%= render 'layouts/styling' %>
<div style="text-align: center;">
<h1>All Playlist</h1>

<ul>
<% @playlists.each do |play| %>
<div>
<li><strong><%= link_to play.title, playlist_path(play)%></strong></li>
</div>
<% end %>

</ul>

</div>