<%= render 'layouts/styling' %>

<h1>All Playlist</h1>

<ul>
<% @playlists.each do |play| %>
<div>
<li><strong><%= link_to play.title, playlist_path(play)%>- <%= play.events %></strong></li>

</div>
<% end %>

</ul>

</div>