<%= render 'layouts/styling' %>



<% if @playlist.school %>
<h1>New Playlist for <%= @playlist.school.name %></h1>
<% else %>
<h1>Create Playlist</h1>
<% end %>

<% puts "Playlist: #{@playlist}" %>

 <%= render 'form' %>